<div class='border-b absolute w-full h-16 z-0'></div>

<div
  class='flex'
  {{did-insert this.setupTimer}}
  {{did-insert (perform this.setupCurrentTimer)}}
>
  <div class='flex-1 py-4'>
    <div class='flex-1 flex items-center z-10 px-6'>
      <Input
        @placeholder='What are you working on?'
        @value={{this.currentTimer.title}}
        class='text-lg font-light w-full outline-none z-10'
        {{on 'blur' this.saveTimer}}
      />

      {{#if this.currentTimer.isRunning}}
        <span class='font-light tabular-nums uppercase text-lg text-gray-500'>
          {{this.timerText}}
        </span>
      {{/if}}
    </div>
  </div>

  <div
    class='px-6 py-4 z-10 bg-gradient-to-r from-orange-400 via-red-500 to-pink-500'
  >
    {{#if this.currentTimer.isRunning}}
      <button
        type='button'
        class='bg-gradient-to-tr from-pink-400 to-red-400 hover:from-pink-500 transition-all duration-500 transform hover:scale-110 ease-in-out hover:to-red-500 cursor-pointer rounded-full w-16 h-16 text-white shadow-xl'
        {{on 'click' this.stopTimer}}
      >
        <FaIcon @icon='stop' @size='lg' />
      </button>
    {{else}}
      <button
        type='button'
        class='bg-gradient-to-tr from-pink-400 to-red-400 hover:from-pink-500 transition-all duration-500 transform hover:scale-110 ease-in-out hover:to-red-500 cursor-pointer rounded-full w-16 h-16 text-white shadow-xl'
        {{on 'click' this.startTimer}}
      >
        <FaIcon @icon='play' @size='lg' />
      </button>
    {{/if}}
  </div>
</div>
