<div class='px-6 hover:bg-gray-100 py-3 text-sm font-light flex'>
  {{#if (is-present @timer.title)}}
    <span data-test-timer-title class='flex-1'>
      {{@timer.title}}
    </span>
  {{else}}
    <span data-test-timer-title class='flex-1 text-gray-400'>
      No description
    </span>
  {{/if}}

  <span data-test-timestamp class='tabular-nums mr-12'>
    {{format-timestamp @timer.startTimestamp}} - {{format-timestamp
      @timer.endTimestamp
    }}
  </span>

  <span data-test-duration class='tabular-nums'>
    {{format-duration @timer.durationInSeconds}}
  </span>
</div>
