<div class='group px-6 hover:bg-gray-100 py-3 text-sm font-light flex'>
  {{#if (is-present @timer.title)}}
    <span data-test-timer-title class='flex-1'>
      {{@timer.title}}
    </span>
  {{else}}
    <span data-test-timer-title class='flex-1 text-gray-400'>
      No description
    </span>
  {{/if}}

  <span data-test-timestamp class='tabular-nums mr-8'>
    {{format-timestamp @timer.startTimestamp}} - {{format-timestamp
      @timer.endTimestamp
    }}
  </span>

  <span data-test-duration class='tabular-nums'>
    {{format-duration @timer.durationInSeconds}}
  </span>

  <div class='invisible group-hover:visible w-8 flex justify-end'>
    <button
      data-test-delete-button
      type='button'
      {{on 'click' (optional @onDelete)}}
    >
      <FaIcon @icon='trash' class='text-gray-500 hover:text-gray-700' />
    </button>
  </div>
</div>
